Repository LedgerHQ/clear-signing-erc7730-registry, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, specifications, descriptors, ci

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file: ['*.md']

specifications:
  - changed-files:
      - any-glob-to-any-file: ['specs/**']

descriptors:
  - changed-files:
      - any-glob-to-any-file: ['specs/**']

ci:
  - changed-files:
      - any-glob-to-any-file: ['.github/**']

chore(BACK-7692): fix runner group
  .github/workflows/pull_request.yml
Labels: ci

chore(BACK-7692): fix job name
  .github/workflows/pull_request.yml
Labels: ci

chore(BACK-7692): add master branch workflow
  .github/workflows/master.yml
  .github/workflows/pull_request.yml
Labels: ci

format augustus swapper
  clear-signing-developer-tools/src/app/raw-data-example/page.tsx
  clear-signing-developer-tools/src/types.ts
Labels: none

add user info
  clear-signing-developer-tools/src/app/raw-data-example/page.tsx
  clear-signing-developer-tools/src/types.ts
Labels: none

Import as types
  clear-signing-developer-tools/src/app/raw-data-example/page.tsx
Labels: none

chore(BACK-7692): remove useless action
  .github/workflows/pull_request.yml
Labels: ci

chore(BACK-7692): add missing permission
  .github/workflows/pull_request.yml
Labels: ci

chore(BACK-7692): modify some descriptor
  registry/lido/calldata-stETH.json
Labels: none

chore(BACK-7692): deep clone
  .github/workflows/pull_request.yml
Labels: ci

chore(BACK-7692): fix change detection
  .github/workflows/pull_request.yml
Labels: ci

chore(BACK-7692): fix CODEOWNERS
  CODEOWNERS
Labels: none

chore(BACK-7692): remove pip cache
  .github/workflows/pull_request.yml
Labels: ci

chore(BACK-7692): pin library version
  .github/workflows/pull_request.yml
Labels: ci

chore(BACK-7692): change repo
  .github/workflows/master.yml
  .github/workflows/pull_request.yml
Labels: ci

Reconcile changes in data shape
  clear-signing-developer-tools/src/app/DevicesDemo.tsx
  clear-signing-developer-tools/src/app/page.tsx
  clear-signing-developer-tools/src/app/raw-data-example/page.tsx
  clear-signing-developer-tools/src/types.ts
Labels: none

Move extractDisplayFields and PerviewData to new files
  clear-signing-developer-tools/src/app/DevicesDemo.tsx
  clear-signing-developer-tools/src/app/page.tsx
  clear-signing-developer-tools/src/app/raw-data-example/extractDisplayFields.tsx
  clear-signing-developer-tools/src/app/raw-data-example/page.tsx
  clear-signing-developer-tools/src/types/PreviewData.d.ts
Labels: none

Rename getPreviewData
  clear-signing-developer-tools/src/app/page.tsx
  clear-signing-developer-tools/src/app/raw-data-example/page.tsx
  clear-signing-developer-tools/src/utils/getPreviewData.tsx
Labels: none

Mandate strict dot notation in json paths and clarify examples
  registry/paraswap/calldata-AugustusSwapper.json
  registry/uniswap/calldata-UniswapV3Router02.json
  registry/uniswap/eip712-UniswapX-DutchOrder.json
  registry/uniswap/eip712-UniswapX-ExclusiveDutchOrder copy.json
  registry/uniswap/eip712-UniswapX-LimitOrder.json
  registry/uniswap/eip712-permit2.json
  specs/erc-7730.md
Labels: specifications, descriptors

Mandate strict dot notation in json paths and clarify examples
  registry/paraswap/calldata-AugustusSwapper.json
  registry/uniswap/calldata-UniswapV3Router02.json
  registry/uniswap/eip712-UniswapX-DutchOrder.json
  registry/uniswap/eip712-UniswapX-ExclusiveDutchOrder copy.json
  registry/uniswap/eip712-UniswapX-LimitOrder.json
  registry/uniswap/eip712-permit2.json
  specs/erc-7730.md
Labels: specifications, descriptors

Add vitest
  clear-signing-developer-tools/package-lock.json
  clear-signing-developer-tools/package.json
Labels: none

Hardcode a type for the preview data
  clear-signing-developer-tools/src/types/PreviewData.d.ts
  clear-signing-developer-tools/src/utils/getPreviewData.tsx
Labels: none

Add some more meta data to Preview
  clear-signing-developer-tools/src/app/DevicesDemo.tsx
  clear-signing-developer-tools/src/app/page.tsx
Labels: none

chore(BACK-7722): trigger submodule update on CAL repos
  .github/workflows/master.yml
Labels: ci
