Repository LedgerHQ/clear-signing-erc7730-registry, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, specifications, descriptors, ci

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file: ['*.md']

specifications:
  - changed-files:
      - any-glob-to-any-file: ['specs/**']

descriptors:
  - changed-files:
      - any-glob-to-any-file: ['registry/**', 'ercs/**']

ci:
  - changed-files:
      - any-glob-to-any-file: ['.github/**']

Try fixing reference
  registry/demo-dapp/demo2-schema.json
Labels: descriptors

Demo2 trial
  registry/demo-dapp/demo2-schema.json
  registry/demo-dapp/eip712-demo2.json
Labels: descriptors

fix: fix some `addressName` parameters
  registry/aave/calldata-lpv2.json
  registry/paraswap/calldata-AugustusSwapper.json
Labels: descriptors

feat: Add QuickSwap
  registry/quickswap/calldata-QuickSwap.json
Labels: descriptors

fix: fix some `addressName` parameters (#55)
  registry/aave/calldata-lpv2.json
  registry/paraswap/calldata-AugustusSwapper.json
Labels: descriptors

fix: fix some `addressName` parameters (#55)
  registry/aave/calldata-lpv2.json
  registry/paraswap/calldata-AugustusSwapper.json
Labels: descriptors

Add QuickSwap (#18)
  registry/quickswap/calldata-QuickSwap.json
Labels: descriptors

Add QuickSwap (#18)
  registry/quickswap/calldata-QuickSwap.json
Labels: descriptors

Add 1inch aggregation routers calldata V3 to V5
  registry/1inch/calldata-AggregationRouterV3.json
  registry/1inch/calldata-AggregationRouterV4.json
  registry/1inch/calldata-AggregationRouterV5.json
Labels: descriptors

Add ids of all selectors
  registry/1inch/calldata-AggregationRouterV3.json
  registry/1inch/calldata-AggregationRouterV4.json
  registry/1inch/calldata-AggregationRouterV5.json
Labels: descriptors

Add excluded parameters
  registry/1inch/calldata-AggregationRouterV3.json
  registry/1inch/calldata-AggregationRouterV4.json
  registry/1inch/calldata-AggregationRouterV5.json
Labels: descriptors

Add deployments
  registry/1inch/calldata-AggregationRouterV3.json
  registry/1inch/calldata-AggregationRouterV4.json
  registry/1inch/calldata-AggregationRouterV5.json
Labels: descriptors

Add Lido OssifiableProxy
  registry/lido/calldata-OssifiableProxy.json
Labels: descriptors

Remove duplicate address links
  developer-preview/src/app/ContractInfo.tsx
Labels: none

Add new label for preview-tool
  .github/workflows/pull_request_setup.yml
Labels: ci
