Repository LedgerHQ/clear-signing-erc7730-registry, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, specifications, descriptors, ci

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file: ['*.md']

specifications:
  - changed-files:
      - any-glob-to-any-file: ['specs/**']

descriptors:
  - changed-files:
      - any-glob-to-any-file: ['registry/**', 'ercs/**']

ci:
  - changed-files:
      - any-glob-to-any-file: ['.github/**']

Prefer defaults when info is missing
  developer-preview/src/app/screens/InfoScreen.tsx
  developer-preview/src/lib/getPreviewData.tsx
  developer-preview/src/types/PreviewData.d.ts
Labels: none

Make faux input and input visually similar
  developer-preview/src/ui/UI.tsx
Labels: none

Revert use of double quotes in workflow files
  .github/workflows/master.yml
  .github/workflows/pull_request.yml
Labels: ci

Reduce unintentional line change
  .github/workflows/master.yml
Labels: ci

Improve developer-preview/README with image, nvm link and example
  developer-preview/README.md
Labels: none

1inch polygon aggregation router Send Amount
  registry/1inch/eip712-1inch-polygon-aggregation-router.json
Labels: descriptors

Add additional note about the intention of the developer-preview
  developer-preview/README.md
Labels: none

add protools file
  developer-preview/.prototools
Labels: none

1inch polygon aggregation router - Send Amount
  registry/1inch/eip712-1inch-polygon-aggregation-router.json
Labels: descriptors

1inch polygon aggregation router - Send Amount (#38)
  registry/1inch/eip712-1inch-polygon-aggregation-router.json
Labels: descriptors

1inch polygon aggregation router - Send Amount (#38)
  registry/1inch/eip712-1inch-polygon-aggregation-router.json
Labels: descriptors

Update developer-preview/.prototools
  developer-preview/.prototools
Labels: none

Add @LL782 @pdeville-ledger as CODEOWNERS
  CODEOWNERS
Labels: none

Add @LL782 @pdeville-ledger as CODEOWNERS (#39)
  CODEOWNERS
Labels: none

Add @LL782 @pdeville-ledger as CODEOWNERS (#39)
  CODEOWNERS
Labels: none

Improve developer-preview README (#36)
  developer-preview/README.md
Labels: none

Improve developer-preview README (#36)
  developer-preview/README.md
Labels: none

ci: run master workflow on `demo` branch as well
  .github/workflows/master.yml
Labels: ci

chore: add prototools file (#37)
  developer-preview/.prototools
Labels: none

chore: add prototools file (#37)
  developer-preview/.prototools
Labels: none

ci: run master workflow on `demo` branch as well (#40)
  .github/workflows/master.yml
Labels: ci

ci: run master workflow on `demo` branch as well (#40)
  .github/workflows/master.yml
Labels: ci

Add demo file
  registry/demo-dapp/calldata-demo.json
Labels: descriptors

demo laurent (#42)
  .github/workflows/master.yml
  developer-preview/.prototools
  registry/demo-dapp/calldata-demo.json
Labels: descriptors, ci

Correct name for demo file
  registry/demo-dapp/eip712-demo.json
Labels: descriptors

Rename file correctly (#43)
  registry/demo-dapp/eip712-demo.json
Labels: descriptors

ci: setup API keys in workflows
  .github/workflows/master.yml
  .github/workflows/pull_request.yml
Labels: ci

ci: fix conditions
  .github/workflows/master.yml
  .github/workflows/pull_request.yml
Labels: ci

ci: setup API keys in workflows (#44)
  .github/workflows/master.yml
  .github/workflows/pull_request.yml
Labels: ci

ci: setup API keys in workflows (#44)
  .github/workflows/master.yml
  .github/workflows/pull_request.yml
Labels: ci

Add excluded fields everywhere
  ercs/eip712-erc2612-permit.json
  registry/1inch/eip712-1inch-ethereum.json
  registry/1inch/eip712-1inch-polygon-aggregation-router.json
  registry/uniswap/eip712-UniswapX-DutchOrder.json
  registry/uniswap/eip712-UniswapX-ExclusiveDutchOrder.json
  registry/uniswap/eip712-UniswapX-LimitOrder.json
  registry/uniswap/eip712-permit2.json
Labels: descriptors

Add excluded fields everywhere (#45)
  ercs/eip712-erc2612-permit.json
  registry/1inch/eip712-1inch-ethereum.json
  registry/1inch/eip712-1inch-polygon-aggregation-router.json
  registry/uniswap/eip712-UniswapX-DutchOrder.json
  registry/uniswap/eip712-UniswapX-ExclusiveDutchOrder.json
  registry/uniswap/eip712-UniswapX-LimitOrder.json
  registry/uniswap/eip712-permit2.json
Labels: descriptors

Add excluded fields everywhere (#45)
  ercs/eip712-erc2612-permit.json
  registry/1inch/eip712-1inch-ethereum.json
  registry/1inch/eip712-1inch-polygon-aggregation-router.json
  registry/uniswap/eip712-UniswapX-DutchOrder.json
  registry/uniswap/eip712-UniswapX-ExclusiveDutchOrder.json
  registry/uniswap/eip712-UniswapX-LimitOrder.json
  registry/uniswap/eip712-permit2.json
Labels: descriptors

revert to jfrog for master workflow
  .github/workflows/master.yml
Labels: ci

ci: use `erc7730` from PyPI instead of internal repository (#29)
  .github/workflows/pull_request.yml
Labels: ci

ci: use `erc7730` from PyPI instead of internal repository (#29)
  .github/workflows/pull_request.yml
Labels: ci

merge 1inch descriptors
  registry/1inch/eip712-1inch-aggregation-router.json
  registry/1inch/eip712-1inch-arbitrum.0x111111125421ca6dc452d289314280a0f8842a65.json
  registry/1inch/eip712-1inch-arbitrum.0x7f069df72b7a39bce9806e3afaf579e54d8cf2b9.json
  registry/1inch/eip712-1inch-ethereum.0x111111125421ca6dc452d289314280a0f8842a65.json
  registry/1inch/eip712-1inch-ethereum.0x119c71d3bbac22029622cbaec24854d3d32d2828.json
  registry/1inch/eip712-1inch-ethereum.json
  registry/1inch/eip712-1inch-limit-order.json
  registry/1inch/eip712-1inch-optimism.0x111111125421ca6dc452d289314280a0f8842a65.json
  registry/1inch/eip712-1inch-optimism.0x11431a89893025d2a48dca4eddc396f8c8117187.json
  registry/1inch/eip712-1inch-polygon-aggregation-router.json
  registry/1inch/eip712-1inch-polygon.0x111111125421ca6dc452d289314280a0f8842a65.json
  registry/1inch/eip712-1inch-polygon.0x94bc2a1c732bcad7343b25af48385fe76e08734f.json
Labels: descriptors

merge degate descriptors
  registry/degate/eip712-degate-ethereum.json
Labels: descriptors

merge dispatch descriptors
  registry/dispatch/eip712-dispatch.json
Labels: descriptors

merge ledgerquest descriptors
  registry/ledgerquest/eip712-ledgerquest.json
Labels: descriptors
