Repository LedgerHQ/clear-signing-erc7730-registry, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, specifications, descriptors, ci

Start revisions of UI Tool layout
  developer-preview/src/app/ContractInfo.tsx
  developer-preview/src/app/DevicesDemo.tsx
  developer-preview/src/app/PreviewForm.tsx
  developer-preview/src/app/PreviewTool.tsx
  developer-preview/src/app/SelectDevice.tsx
  developer-preview/src/app/SelectOperation.tsx
  developer-preview/src/app/SelectValues.tsx
  developer-preview/src/app/UI.tsx
  developer-preview/tailwind.config.ts
Labels: none

Style select using shadcn component
  developer-preview/components.json
  developer-preview/src/app/ContractInfo.tsx
  developer-preview/src/app/PreviewTool.tsx
  developer-preview/src/app/SelectDevice.tsx
  developer-preview/src/app/SelectMetadataFile.tsx
  developer-preview/src/app/SelectOperation.tsx
  developer-preview/src/app/SelectValues.tsx
  developer-preview/src/app/UI.tsx
  developer-preview/src/ui/UI.tsx
  developer-preview/src/ui/select.tsx
Labels: none

Switch to grid layout
  developer-preview/src/app/PreviewTool.tsx
Labels: none

Consistent grid appearance
  developer-preview/src/app/ContractInfo.tsx
  developer-preview/src/app/PreviewTool.tsx
  developer-preview/src/ui/UI.tsx
Labels: none

Style the labels
  developer-preview/src/app/ContractInfo.tsx
  developer-preview/src/app/SelectMetadataFile.tsx
  developer-preview/src/app/SelectOperation.tsx
  developer-preview/src/app/SelectValues.tsx
  developer-preview/src/ui/UI.tsx
Labels: none

Add collapsible UI component
  developer-preview/package-lock.json
  developer-preview/package.json
Labels: none

Move cn to directory consistent with shadcn
  developer-preview/src/app/Device.tsx
  developer-preview/src/app/Flex.tsx
  developer-preview/src/app/PreviewTool.tsx
  developer-preview/src/app/Stax.tsx
  developer-preview/src/app/UI.tsx
  developer-preview/src/app/api/file/parseMetadataFile.ts
  developer-preview/src/app/screens/InfoScreen.tsx
  developer-preview/src/app/screens/ReviewScreen.tsx
  developer-preview/src/lib/getPreviewData.test.tsx
  developer-preview/src/lib/getPreviewData.tsx
  developer-preview/src/lib/utils.ts
  developer-preview/src/types/ERC7730Schema.d.ts
Labels: none

Add notes about the developer-preview to the README
  README.md
Labels: documentation

Display $id in the operation field for now
  developer-preview/src/app/SelectOperation.tsx
Labels: none

Add link straight to README
  README.md
Labels: documentation

Update look and feel
  developer-preview/public/assets/Ledger-favicon.svg
  developer-preview/src/app/ContractInfo.tsx
  developer-preview/src/app/PreviewTool.tsx
  developer-preview/src/app/SelectOperation.tsx
  developer-preview/src/app/layout.tsx
  developer-preview/src/ui/UI.tsx
  developer-preview/src/ui/select.tsx
Labels: none

Revise appearance of error message
  developer-preview/src/app/PreviewTool.tsx
  developer-preview/src/lib/getPreviewData.tsx
  developer-preview/src/ui/UI.tsx
Labels: none

Fall back to "intent" when operation "id" is not available
  developer-preview/src/app/SelectOperation.tsx
Labels: none

Improve display of links to deployments
  developer-preview/public/assets/external-link.svg
  developer-preview/src/app/ContractInfo.tsx
  developer-preview/src/ui/UI.tsx
Labels: none

Include $id in label for Operation select
  developer-preview/src/app/SelectOperation.tsx
Labels: none

Ensure chosen operation is based on id or intent
  developer-preview/src/app/DevicesDemo.tsx
Labels: none

Add Whitepaper and Documentation links
  developer-preview/src/app/PreviewTool.tsx
  developer-preview/src/ui/UI.tsx
Labels: none

Provide value and defaultValue to select elements
  developer-preview/src/ui/UI.tsx
Labels: none

Handle layout for multiple deployments
  developer-preview/src/app/ContractInfo.tsx
Labels: none

Remove unnecessary comments
  developer-preview/jest.config.ts
Labels: none

Pole for file changes every 2 seconds
  developer-preview/src/app/PreviewTool.tsx
Labels: none

Avoid issue of targeting API on the wrong port
  developer-preview/src/app/PreviewTool.tsx
Labels: none

Shorten vertical space
  developer-preview/.eslintrc.cjs
Labels: none

Clarify use of port 3000
  README.md
  developer-preview/README.md
Labels: documentation

Remove unrelated example file
  developer-preview/.env.example
Labels: none

Remove createEnv comments
  developer-preview/src/env.js
Labels: none

Remove dev comments from device components
  developer-preview/src/app/Flex.tsx
  developer-preview/src/app/Stax.tsx
Labels: none

Prefer version 1.0.0
  developer-preview/package.json
Labels: none

Remove unnecessary comments
  developer-preview/next.config.js
Labels: none

Avoid unnecessary use of any
  developer-preview/src/types/ERC7730Schema.d.ts
Labels: none

Add icon to browseer tab
  developer-preview/public/assets/icon.svg
  developer-preview/src/app/layout.tsx
Labels: none

Don't run "validate_descriptors" for changes to "developer-preview" directory on push to master
  .github/workflows/master.yml
Labels: ci

Test workflow change
  developer-preview/src/lib/getPreviewData.tsx
Labels: none

Remove unnecessary prop
  developer-preview/src/app/screens/InfoScreen.tsx
Labels: none

Ensure there is a gap between device label and down chevron
  developer-preview/src/ui/UI.tsx
Labels: none

Catch errors with metadata
  developer-preview/src/lib/getPreviewData.tsx
Labels: none

Don't run "validate_descriptors" for changes to "developer-preview" directory
  .github/workflows/pull_request.yml
Labels: ci

Remove unnecessary async
  developer-preview/src/app/api/file/route.ts
Labels: none

Make "Placeholder values" clearly hardcoded
  developer-preview/src/app/SelectValues.tsx
Labels: none

Allow package-lock.json to update
  developer-preview/package-lock.json
Labels: none

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file: ['*.md']

specifications:
  - changed-files:
      - any-glob-to-any-file: ['specs/**']

descriptors:
  - changed-files:
      - any-glob-to-any-file: ['registry/**', 'ercs/**']

ci:
  - changed-files:
      - any-glob-to-any-file: ['.github/**']
