Repository LedgerHQ/clear-signing-erc7730-registry, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, specifications, descriptors, ci

feat: Add QuickSwap
  registry/quickswap/calldata-QuickSwap.json
Labels: descriptors

chore: adapt schema for trusted names support
  specs/erc-7730.md
  specs/erc7730-v1.schema.json
Labels: specifications

fix: correct input field
  registry/uniswap/calldata-UniswapV3Router02.json
Labels: descriptors

chore: adapt schema for trusted names support (#23)
  specs/erc-7730.md
  specs/erc7730-v1.schema.json
Labels: specifications

chore: adapt schema for trusted names support (#23)
  specs/erc-7730.md
  specs/erc7730-v1.schema.json
Labels: specifications

fix: correct input field (#24)
  registry/uniswap/calldata-UniswapV3Router02.json
Labels: descriptors

fix: correct input field (#24)
  registry/uniswap/calldata-UniswapV3Router02.json
Labels: descriptors

chore: import EIP-712 message for degate from ledger-assets-dapps
  registry/degate/eip712-degate.json
Labels: descriptors

chore: import EIP-712 message for degate from ledger-assets-dapps (#25)
  registry/degate/eip712-degate.json
Labels: descriptors

chore: import EIP-712 message for degate from ledger-assets-dapps (#25)
  registry/degate/eip712-degate.json
Labels: descriptors

ci: add missing pip cache
  .github/workflows/master.yml
  .github/workflows/pull_request.yml
Labels: ci

ci: changing a descriptor to test
  registry/aave/calldata-lpv2.json
Labels: descriptors

ci: add requirements file
  .github/requirements.txt
Labels: ci

ci: revert descriptor change
  registry/aave/calldata-lpv2.json
Labels: descriptors

ci: don't use matrix job
  .github/workflows/master.yml
Labels: ci

ci: don't use matrix job (#27)
  .github/workflows/master.yml
Labels: ci

ci: don't use matrix job (#27)
  .github/workflows/master.yml
Labels: ci

ci: add missing pip cache (#26)
  .github/requirements.txt
  .github/workflows/master.yml
  .github/workflows/pull_request.yml
Labels: ci

ci: add missing pip cache (#26)
  .github/requirements.txt
  .github/workflows/master.yml
  .github/workflows/pull_request.yml
Labels: ci

ci: use `erc7730` from PyPI instead of internal repository
  .github/workflows/master.yml
  .github/workflows/pull_request.yml
Labels: ci

eip712-1inch-ethereum - replaced "Sent" by "Amount sent"
  registry/1inch/eip712-1inch-ethereum.0x111111125421ca6dc452d289314280a0f8842a65.json
Labels: descriptors

spec: add support for explicitly declaring excluded fields
  specs/erc-7730.md
  specs/erc7730-v1.schema.json
Labels: specifications

spec: add support for explicitly declaring excluded fields
  specs/erc-7730.md
  specs/erc7730-v1.schema.json
Labels: specifications

copy
  specs/erc-7730.md
Labels: specifications

spec: add support for explicitly declaring excluded fields (#31)
  specs/erc-7730.md
  specs/erc7730-v1.schema.json
Labels: specifications

spec: add support for explicitly declaring excluded fields (#31)
  specs/erc-7730.md
  specs/erc7730-v1.schema.json
Labels: specifications

Fix types and sources in addressName in specification
  specs/erc-7730.md
Labels: specifications

Add @.from as an acceptable path reference to container
  specs/erc-7730.md
Labels: specifications

Make tokenPath optional and specify behaviour when absent
  specs/erc-7730.md
  specs/erc7730-v1.schema.json
Labels: specifications

Add array form to nativeCurrencyAddress
  specs/erc-7730.md
  specs/erc7730-v1.schema.json
Labels: specifications

Multiple fixes to spec and schema (#32)
  specs/erc-7730.md
  specs/erc7730-v1.schema.json
Labels: specifications

Multiple fixes to spec and schema (#32)
  specs/erc-7730.md
  specs/erc7730-v1.schema.json
Labels: specifications

1inch Aggregation Router
  registry/1inch/eip712-1inch-ethereum.json
Labels: descriptors

Adding 1inch demo file
  registry/1inch/eip712-1inch-AggregationRouter.json
Labels: descriptors

1inch Aggregation Router (#34)
  registry/1inch/eip712-1inch-ethereum.json
Labels: descriptors

1inch Aggregation Router (#34)
  registry/1inch/eip712-1inch-ethereum.json
Labels: descriptors

Add 1inch aggregation routers calldata V3 to V5
  registry/1inch/calldata-AggregationRouterV3.json
  registry/1inch/calldata-AggregationRouterV4.json
  registry/1inch/calldata-AggregationRouterV5.json
Labels: descriptors

Add ids of all selectors
  registry/1inch/calldata-AggregationRouterV3.json
  registry/1inch/calldata-AggregationRouterV4.json
  registry/1inch/calldata-AggregationRouterV5.json
Labels: descriptors

Add excluded parameters
  registry/1inch/calldata-AggregationRouterV3.json
  registry/1inch/calldata-AggregationRouterV4.json
  registry/1inch/calldata-AggregationRouterV5.json
Labels: descriptors

create a nextjs app
  clear-signing-developer-tools/.env.example
  clear-signing-developer-tools/.eslintrc.cjs
  clear-signing-developer-tools/.gitignore
  clear-signing-developer-tools/README.md
  clear-signing-developer-tools/next.config.js
  clear-signing-developer-tools/package-lock.json
  clear-signing-developer-tools/package.json
  clear-signing-developer-tools/postcss.config.cjs
  clear-signing-developer-tools/prettier.config.js
  clear-signing-developer-tools/public/favicon.ico
  clear-signing-developer-tools/src/app/layout.tsx
  clear-signing-developer-tools/src/app/page.tsx
  clear-signing-developer-tools/src/env.js
  clear-signing-developer-tools/src/styles/globals.css
  clear-signing-developer-tools/tailwind.config.ts
  clear-signing-developer-tools/tsconfig.json
Labels: none

.github/labeler.yml:

documentation:
  - changed-files:
      - any-glob-to-any-file: ['*.md']

specifications:
  - changed-files:
      - any-glob-to-any-file: ['specs/**']

descriptors:
  - changed-files:
      - any-glob-to-any-file: ['registry/**', 'ercs/**']

ci:
  - changed-files:
      - any-glob-to-any-file: ['.github/**']
