Repository LedgerHQ/clear-signing-erc7730-registry, pull requests merged in 2024-12, with the labels that each got.

#103 chore: format descriptors - 2024-12-03 07:07
  registry/paraswap/calldata-AugustusSwapper-v4.json
  registry/paraswap/calldata-AugustusSwapper-v5.json
  registry/quickswap/calldata-QuickSwap.json
Labels: descriptors

#102 Add support for slices applied on primitive static types
  specs/erc-7730.md
Labels: specifications

#100 Fix StarkGate descriptor
  registry/starkgate/calldata-StarkGate-STRK.json
Labels: descriptors

#74 spec: update spec after #66
  specs/erc-7730.md
Labels: specifications

#112 feat: Add support for AAVE V3
  registry/aave/calldata-lpv3.json
Labels: descriptors

#109 feat(BACK-8135): add support for providing literal values
  ercs/calldata-erc20-tokens.json
  registry/lido/calldata-OssifiableProxy.json
  registry/lido/calldata-wstETH.json
  specs/erc-7730.md
  specs/erc7730-v1.schema.json
Labels: descriptors, specifications
