Repository LedgerHQ/clear-signing-erc7730-registry, pull requests merged in 2024-10, with the labels that each got.

#19 ci: fix labels action
  .github/workflows/pull_request.yml
  .github/workflows/pull_request_setup.yml
Labels: ci

#20 chore: typos, file name fixes
  registry/uniswap/eip712-UniswapX-ExclusiveDutchOrder.json
  specs/erc7730-v1.schema.json
Labels: descriptors, specifications

#23 chore: adapt schema for trusted names support
  specs/erc-7730.md
  specs/erc7730-v1.schema.json
Labels: specifications

#24 fix: correct input field
  registry/uniswap/calldata-UniswapV3Router02.json
Labels: descriptors

#25 chore: import EIP-712 message for degate from ledger-assets-dapps
  registry/degate/eip712-degate.json
Labels: descriptors

#26 ci: add missing pip cache
  .github/requirements.txt
  .github/workflows/master.yml
  .github/workflows/pull_request.yml
Labels: ci, descriptors

#31 spec: add support for explicitly declaring excluded fields
  specs/erc-7730.md
  specs/erc7730-v1.schema.json
Labels: specifications

#32 Multiple fixes to spec and schema
  specs/erc-7730.md
  specs/erc7730-v1.schema.json
Labels: specifications

#34 1inch Aggregation Router
  registry/1inch/eip712-1inch-ethereum.json
Labels: descriptors

#38 1inch polygon aggregation router - Send Amount
  registry/1inch/eip712-1inch-polygon-aggregation-router.json
Labels: descriptors

#39 Add @LL782 @pdeville-ledger as CODEOWNERS
  CODEOWNERS
Labels: documentation

#36 Improve developer-preview README
  developer-preview/README.md
Labels: documentation

#37 chore: add prototools file
  developer-preview/.prototools
Labels: documentation

#42 demo laurent
  .github/workflows/master.yml
  developer-preview/.prototools
  registry/demo-dapp/calldata-demo.json
Labels: ci, descriptors

#44 ci: setup API keys in workflows
  .github/workflows/master.yml
  .github/workflows/pull_request.yml
Labels: ci

#45 Add excluded fields everywhere
  ercs/eip712-erc2612-permit.json
  registry/1inch/eip712-1inch-ethereum.json
  registry/1inch/eip712-1inch-polygon-aggregation-router.json
  registry/uniswap/eip712-UniswapX-DutchOrder.json
  registry/uniswap/eip712-UniswapX-ExclusiveDutchOrder.json
  registry/uniswap/eip712-UniswapX-LimitOrder.json
  registry/uniswap/eip712-permit2.json
Labels: descriptors

#29 ci: use `erc7730` from PyPI instead of internal repository
  .github/workflows/pull_request.yml
Labels: ci

#47 Adding Laurent demo dapp
  registry/demo-dapp/eip712-demo.json
Labels: descriptors

#46 fix(paraswap): fix invalid path
  registry/paraswap/calldata-AugustusSwapper.json
Labels: descriptors

#50 Switch to Permit2 for demo
  registry/demo-dapp/eip712-demo.json
Labels: descriptors

#51 fix: typo
  registry/uniswap/calldata-UniswapV3Router02.json
Labels: descriptors

#21 import ledger-asset-dapps EIP-712 descriptors
  registry/1inch/eip712-1inch-aggregation-router.json
  registry/1inch/eip712-1inch-ethereum.json
  registry/1inch/eip712-1inch-limit-order.json
  registry/1inch/eip712-1inch-polygon-aggregation-router.json
  registry/aave/calldata-lpv2.json
  registry/degate/eip712-degate.json
  registry/dispatch/eip712-dispatch.json
  registry/ledgerquest/eip712-ledgerquest.json
  registry/lens/eip712-lens-lenshub.json
  registry/lens/eip712-lens-token-handle-registry.json
  registry/lido/calldata-stETH.json
  registry/lido/calldata-wstETH.json
  registry/makerdao/eip712-permit-DAI.json
  registry/opensea/eip712-opensea.json
  registry/paraswap/calldata-AugustusSwapper.json
  registry/paraswap/eip712-paraswap.json
  registry/permit/eip712-permit-arbitrum-arb.json
  registry/permit/eip712-permit-arbitrum-bridged-usdc.json
  registry/permit/eip712-permit-avalanche_c_chain-pangolin.json
  registry/permit/eip712-permit-avalanche_c_chain-yetiswap.json
  registry/permit/eip712-permit-bsc-1inch-token.json
  registry/permit/eip712-permit-bsc-polkastarter-token.json
  registry/permit/eip712-permit-ethereum-aave.json
  registry/permit/eip712-permit-ethereum-dai.json
  registry/permit/eip712-permit-ethereum-usdc.json
  registry/permit/eip712-permit-fantom-mimatic.json
  registry/permit/eip712-permit-fantom-wootrade.json
  registry/permit/eip712-permit-optimism-bob.json
  registry/permit/eip712-permit-optimism-op.json
  registry/permit/eip712-permit-polygon-aave-dai.json
  registry/permit/eip712-permit-polygon-aave-weth.json
  registry/rarible/eip712-rarible-erc-1155.json
  registry/rarible/eip712-rarible-erc-721.json
  registry/rarible/eip712-rarible-exchange-v2.json
  registry/rarible/eip712-rarible-exchange-wrapper.json
  registry/smartcredit/eip712-smartcredit.json
  registry/tally/eip712-tally-arbitrum-arb-token.json
  registry/tally/eip712-tally-arbitrum-core-governor.json
  registry/tally/eip712-tally-arbitrum-treasury-governor.json
  registry/tally/eip712-tally-ethereum-bitcoin-governor.json
  registry/tally/eip712-tally-ethereum-bravo-governor.json
  registry/tally/eip712-tally-ethereum-ens-governor.json
  registry/tally/eip712-tally-ethereum-ens-token.json
  registry/tally/eip712-tally-ethereum-gtk-token.json
  registry/tally/eip712-tally-ethereum-hop-governor.json
  registry/tally/eip712-tally-ethereum-hop-token.json
  registry/tally/eip712-tally-ethereum-pool-token.json
  registry/tally/eip712-tally-ethereum-pooltogether-governor.json
  registry/tally/eip712-tally-ethereum-uni-token.json
  registry/tether/calldata-usdt.json
  registry/uniswap/calldata-UniswapV3Router02.json
  registry/uniswap/common-eip712.json
  registry/uniswap/eip712-UniswapX-DutchOrder.json
  registry/uniswap/eip712-UniswapX-ExclusiveDutchOrder.json
  registry/uniswap/eip712-UniswapX-LimitOrder.json
  registry/uniswap/eip712-uniswap-permit2.json
  registry/uniswap/uniswap-common-eip712.json
Labels: descriptors

#53 Update demo branch to latest master
  registry/1inch/eip712-1inch-aggregation-router.json
  registry/1inch/eip712-1inch-ethereum.json
  registry/1inch/eip712-1inch-limit-order.json
  registry/1inch/eip712-1inch-polygon-aggregation-router.json
  registry/aave/calldata-lpv2.json
  registry/degate/eip712-degate.json
  registry/dispatch/eip712-dispatch.json
  registry/ledgerquest/eip712-ledgerquest.json
  registry/lens/eip712-lens-lenshub.json
  registry/lens/eip712-lens-token-handle-registry.json
  registry/lido/calldata-stETH.json
  registry/lido/calldata-wstETH.json
  registry/makerdao/eip712-permit-DAI.json
  registry/opensea/eip712-opensea.json
  registry/paraswap/calldata-AugustusSwapper.json
  registry/paraswap/eip712-paraswap.json
  registry/permit/eip712-permit-arbitrum-arb.json
  registry/permit/eip712-permit-arbitrum-bridged-usdc.json
  registry/permit/eip712-permit-avalanche_c_chain-pangolin.json
  registry/permit/eip712-permit-avalanche_c_chain-yetiswap.json
  registry/permit/eip712-permit-bsc-1inch-token.json
  registry/permit/eip712-permit-bsc-polkastarter-token.json
  registry/permit/eip712-permit-ethereum-aave.json
  registry/permit/eip712-permit-ethereum-dai.json
  registry/permit/eip712-permit-ethereum-usdc.json
  registry/permit/eip712-permit-fantom-mimatic.json
  registry/permit/eip712-permit-fantom-wootrade.json
  registry/permit/eip712-permit-optimism-bob.json
  registry/permit/eip712-permit-optimism-op.json
  registry/permit/eip712-permit-polygon-aave-dai.json
  registry/permit/eip712-permit-polygon-aave-weth.json
  registry/rarible/eip712-rarible-erc-1155.json
  registry/rarible/eip712-rarible-erc-721.json
  registry/rarible/eip712-rarible-exchange-v2.json
  registry/rarible/eip712-rarible-exchange-wrapper.json
  registry/smartcredit/eip712-smartcredit.json
  registry/tally/eip712-tally-arbitrum-arb-token.json
  registry/tally/eip712-tally-arbitrum-core-governor.json
  registry/tally/eip712-tally-arbitrum-treasury-governor.json
  registry/tally/eip712-tally-ethereum-bitcoin-governor.json
  registry/tally/eip712-tally-ethereum-bravo-governor.json
  registry/tally/eip712-tally-ethereum-ens-governor.json
  registry/tally/eip712-tally-ethereum-ens-token.json
  registry/tally/eip712-tally-ethereum-gtk-token.json
  registry/tally/eip712-tally-ethereum-hop-governor.json
  registry/tally/eip712-tally-ethereum-hop-token.json
  registry/tally/eip712-tally-ethereum-pool-token.json
  registry/tally/eip712-tally-ethereum-pooltogether-governor.json
  registry/tally/eip712-tally-ethereum-uni-token.json
  registry/tether/calldata-usdt.json
  registry/uniswap/calldata-UniswapV3Router02.json
  registry/uniswap/common-eip712.json
  registry/uniswap/eip712-UniswapX-DutchOrder.json
  registry/uniswap/eip712-UniswapX-ExclusiveDutchOrder.json
  registry/uniswap/eip712-UniswapX-LimitOrder.json
  registry/uniswap/eip712-uniswap-permit2.json
  registry/uniswap/uniswap-common-eip712.json
  specs/templates/template-eip712.json
Labels: descriptors, specifications

#18 Add QuickSwap
  registry/quickswap/calldata-QuickSwap.json
Labels: descriptors

#58 Add new label for preview-tool
  .github/labeler.yml
  .github/workflows/pull_request_setup.yml
Labels: ci

#57 Remove duplicate address links
  developer-preview/src/app/ContractInfo.tsx
Labels: preview-tool

#59 fix: typos
  registry/paraswap/calldata-AugustusSwapper.json
  registry/uniswap/calldata-UniswapV3Router02.json
Labels: descriptors

#60 Test push
  registry/testp/eip712-testp-ethereum.json
Labels: descriptors

#61 fix: fix `@.amount`/`@.value` confusion
  registry/lido/calldata-stETH.json
  specs/erc-7730.md
Labels: descriptors, specifications

#62 add hackathon sample
  registry/demo-dapp/eip712-demo3.json
Labels: descriptors

#65 fix: fix ERC-20/ERC-721 descriptors
  ercs/calldata-erc20-tokens.json
  ercs/calldata-erc721-nfts.json
Labels: descriptors

#63 spec: allow more data types in `$.metadata.constants` section
  specs/erc7730-v1.schema.json
Labels: specifications

#67 fix: add missing parameters for `addressName` formats
  ercs/calldata-erc20-tokens.json
  ercs/calldata-erc721-nfts.json
  ercs/eip712-erc2612-permit.json
  registry/aave/calldata-lpv2.json
  registry/lido/calldata-OssifiableProxy.json
  registry/lido/calldata-stETH.json
  registry/lido/calldata-wstETH.json
  registry/paraswap/calldata-AugustusSwapper.json
  registry/poap/calldata-PoapBridge.json
  registry/quickswap/calldata-QuickSwap.json
  registry/uniswap/calldata-UniswapV3Router02.json
  registry/uniswap/eip712-UniswapX-DutchOrder.json
  registry/uniswap/eip712-UniswapX-ExclusiveDutchOrder.json
  registry/uniswap/eip712-UniswapX-LimitOrder.json
  registry/uniswap/eip712-uniswap-permit2.json
Labels: descriptors

#64 spec: typos/fixes
  specs/erc-7730.md
Labels: specifications

#66 spec: add support for providing a single URL for all EIP-712 schemas
  specs/erc7730-v1.schema.json
Labels: specifications

#68 ci: remove trigger on archived repository
  .github/workflows/master.yml
Labels: ci

#75 fix broken link
  README.md
Labels: documentation
