Repository LedgerHQ/clear-signing-erc7730-registry, pull requests merged in 2025-01, with the labels that each got.

#116 chore(TSD-4496): configure new etherscan host
  .github/workflows/pull_request.yml
Labels: ci

#117 chore(TSD-4496): change etherscan host for master workflow
  .github/workflows/master.yml
Labels: ci

#134 fix: slices end index is exclusive
  registry/uniswap/calldata-UniswapV3Router02.json
Labels: descriptors

#128 Add 1inch AggregationRouterV6 descriptor
  registry/1inch/calldata-AggregationRouterV6-zksync.json
  registry/1inch/calldata-AggregationRouterV6.json
  registry/1inch/common-AggregationRouterV6.json
  registry/1inch/eip712-AggregationRouterV6.json
Labels: descriptors

#135 fix: remove clear signing of fillOrder selectors
  registry/1inch/calldata-AggregationRouterV5.json
  registry/1inch/common-AggregationRouterV4.json
Labels: descriptors

#136 feat: improve pool swap lisibility
  registry/1inch/calldata-AggregationRouterV3.json
  registry/1inch/calldata-AggregationRouterV5.json
  registry/1inch/common-AggregationRouterV4.json
  registry/paraswap/calldata-AugustusSwapper.json
Labels: descriptors

#138 chore: format descriptors - 2025-01-25 07:06
  registry/1inch/calldata-AggregationRouterV6-zksync.json
Labels: descriptors

#130 Curency typo
  specs/erc-7730.md
Labels: specifications

#131 Allow to replace address special values by the sender
  specs/erc-7730.md
  specs/erc7730-v1.schema.json
Labels: specifications

#140 spec: Add some missing examples
  specs/erc-7730.md
Labels: specifications
